<section class="hero is-responsive pt-6 mb-6" id="top">
  <div class="hero-body">
    <h2 class="HomeHeroTitle big-text columns pl-2 mb-5 el is-size-2-mobile">WEB<br>DEVELOPER</h2>
    <div class="columns my-5">
      <div class="column image el">
        <%= image_tag("profile-pic-blck.jpg") %>
      </div>
      <div class="resume column el typewriting is-size-6-mobile">
        <h1>
          <a class="typewrite" data-period="2000" data-type='["I CREATE LOGOS AND WEBSITES."]'>
            <span class="wrap"></span>
          </a>
        </h1>
      </div>
      <h2 class="HomeHeroName big-text column is-half is-align-content-baseline has-text-right el is-size-2-mobile">VALENTIN<br>CHAUVEAU</h2>
    </div>
    <div class="columns is-mobile">
      <span class="arrow big-text column is-one-fifth el">↓</span>
      <div class="column"></div>
      <span class="arrow big-text column is-one-fifth has-text-right el">↓</span>
    </div>
  </div>
</section>

<section class="Projects section mx-6 my-6 is-medium", id="work">
  <h2 class="medium-text mb-5 el is-size-4-mobile">PROJECTS</h2>

  <div class="songsalad lbc columns mt-6">
    <div class="flip-card column mb-6 el">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="songsalad-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="http://www.songsalad.com/" target="blank" class="has-text-left is-size-3 is-size-5-mobile">SONGSALAD.COM</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">•Personal Project• <br> Songsalad is a mobile first game application developed on rails.
            The goal is to find the lyrics and the title of the song in order to win the game.
          </p>
        </div>
      </div>
        <a href="http://www.songsalad.com/" target="blank" class="has-text-left is-size-4 is-size-6-mobile visit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="currentColor" class="mt-2 icon w-1 h-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg></a>
    </div>

    <div class="flip-card column mb-6">
      <div class="flip-card-inner el">
        <div class="flip-card-front">
          <div class="lbc-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="" target="blank" class="is-size-3 is-size-5-mobile">LESBONSCOMPAGNONS.FR</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">Les Bons Compagnons are traders operating in food markets. This is a 360° project with logo & identity creation alongside a web platform. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="rockyaloha columns mt-6">
    <div class="flip-card column mb-6 el">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="rockyaloha-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="" target="blank" class="has-text-left is-size-3 is-size-5-mobile">ROCKY-ALHOA.COM</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">•Personal Project• <br>Rocky Aloha is a marketplace inspired by airbnb, designed and developed within a week.
            Front-end and Back-end work.</p>
        </div>
      </div>
    <a href="http://rocky-aloha.herokuapp.com/" target="blank" class=" has-text-left is-size-4 is-size-6-mobile visit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="currentColor" class="mt-2 icon w-1 h-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg></a>
    </div>
    <div class="column"></div>
  </div>
</section>

<section class="typewriting section mx-5 mt-6 is-medium animation ", id="skills">
    <div class=" pl-3">
      <h2 class="medium-text mb-6 el is-size-4-mobile">SKILLS</h2>
      <div class="columns ">
        <div class="column has-text-centered playing-card ">
          <%= image_tag ("card-skills-ruby.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered playing-card ">
          <%= image_tag ("card-skills-rails.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered playing-card">
          <%= image_tag ("card-skills-html-css-js.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered playing-card">
          <%= image_tag ("card-skills-stimulus.jpg"), width: 450, height: 450%>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-centered playing-card">
          <%= image_tag ("card-skills-wordpress.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered playing-card">
          <%= image_tag ("card-skills-figma.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered playing-card">
          <%= image_tag ("card-skills-postgresql.jpg"), width: 450, height: 450%>
        </div>
        <div class="column has-text-centered  playing-card">
          <%= image_tag ("card-skills-tw.jpg"), width: 450, height: 450%>
        </div>
      </div>
    </div>
</section>

<section class="About section mx-5 mt-1 is-medium columns", id="about">
    <div class="column pl-3">
    <h2 class="medium-text mb-6 el is-size-4-mobile">ABOUT</h2>
      <p class="el is-size-6-mobile">
        I'M A 29YO FRENCH DEVELOPER GRADUATED <br> FROM LE WAGON NANTES.
        I'M CURRENTLY <br> WORKING AS A FREELANCE DEVELOPER <br> BUT I'M ALWAYS OPEN TO NEW PROJECTS. <br>
        I'M ALSO A PASSIONATE MUSIC COMPOSER.
      </p>
      <br>
      <%# <p class="el">•CLICK THE VINYL TO TAKE A LISTEN•</p> %>
      <br>
    </div>
    <div class="column has-text-right has-text-center-mobile el">
      <%= link_to "https://open.spotify.com/artist/1BhytEyR0LxnxXoeQPxGVV", target: "_blank" do %>
        <%= image_tag ("vinyl.jpg"), class:"rotate", width: 300, height: 300%>
      <% end %>
    </div>
</section>

<section class="typewriting section columns mx-5">
  <div class="column pl-3 has-text-centered is-size-7-mobile">
    <h1>
      <a class="typewrite" data-period="2000" data-type='[ "WANT TO WORK TOGETHER ?", "SEND ME A MESSAGE" ]'>
        <span class="wrap"></span>
      </a>
    </h1>
  </div>
</section>

<section class="Contact section columns mx-6", id="contact">
    <button data-text-swap="Copied to <br> clipboard" onclick="copyText()" class="Email hover-underline-animation my-6 el has-text-left">BONJOUR@VALENTIN <br> CHAUVEAU.COM</button>
</section>

<footer class="footer is-medium px-6 el">
  <div class="columns">
    <a href="https://github.com/Ouskababoushka" class="column has-text-left-mobile " target="_blank">Github</a>
    <div class="column has-text-centered has-text-left-mobile">Made with 🖤 by<br>Valentin Chauveau 2022</div>
    <a href="https://www.linkedin.com/in/valentinchauveau/" class="column has-text-right has-text-left-mobile" target="_blank">Linkedin</a>

  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 3000,
    once: true,
  });
</script>

<script>
  ScrollReveal().reveal('.el', {
    delay: 800,
      useDelay: 'onload',
      reset: true,
  })

  ScrollReveal().reveal('.el', {
    delay: 0,
      interval: 120
  })
</script>
